<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group bgclass">
          <label for="uname">Username</label>
          <input type="text" name="uname" formControlName="uname" size="1" id="uname" class="trninput"/>
          <label for="pwd">Password</label>
          <input type="password" name="pwd" id="pwd" formControlName="pwd" size="1" class="trninput"/>
          <div class="modal-footer">
              <button type="submit" class="savebtn btn btn-save">Submit</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="cancelbtn btn btn-warning" (click)="clearForm()">Clear</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="psw">Forgot <a class="hiperLink" href="#" (click)="open(content)"><u>password</u></a>?</span>
              <!--<span class="psw">Create a new <a class="hiperLink" href="#" (click)="open(content)">Account</a>?</span>-->
          </div>
          <div>
              
          </div>
      </div>
  </form>
</div>
<router-outlet></router-outlet>
<!-- class="form-control" -->
<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Forgot Password
      </h4>
      <button class="close"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">
          <span aria-hidden="true" title="Close">
              ×
          </span>
      </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="forgotForm" (ngSubmit)="updatePassword()">
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" placeholder="Enter Username" id="username" name="username" 
                  formControlName="username">
              <label for="password">Password</label>
              <input type="password" placeholder="Enter Password" id="password" name="password" formControlName="password">
              <label for="rpassword">Re-enter Password</label>
              <input type="password" placeholder="Re-enter Password" id="rpassword" name="rpassword" formControlName="rpassword">
          </div>
          <div class="modal-footer">
              <button type="submit" 
                  class="savebtn btn btn-save">
                  Update
              </button>
          </div>
      </form>
  </div>
</ng-template>
