form {
   padding: 5px;
 }
 
 /* Full-width inputs */
 input[type=text], input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   border-radius: 7px;
 }

 /* Extra style for the cancel button (red) */
 .cancelbtn:hover {
   background-color: orange;
   cursor: pointer;
 }

 .savebtn, .cancelbtn {
   background-color: #0095ff;
   border: 1px solid transparent;
   border-radius: 3px;
   box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
   box-sizing: border-box;
   color: white;
   cursor: pointer;
   display: inline-block;
   font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
   font-size: 13px;
   font-weight: 500;
   line-height: 0.5;
   margin: 0;
   outline: none;
   padding: 8px .8em;
   position: relative;
   text-align: center;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: baseline;
   white-space: nowrap;
 }

 .savebtn:hover {
   background-color: green;
   cursor: pointer;
 }

 /* Add padding to containers */
 .container {
   padding: 16px;
   margin-left: auto; 
   margin-right: 0;
   display: flex; 
   justify-content: flex-end;
   align-items: center;
 }
 
 /* The "Forgot password" text */
 span.psw {
   float: right;
   padding-top: 16px;
 }
 
 /* Change styles for span and cancel button on extra small screens */
 @media screen and (max-width: 300px) {
   span.psw {
     display: block;
     float: none;
   }
   .cancelbtn {
     width: 100%;
   }
 }

 .modal-footer {
   border: none;
 }
 
 .modal-body .form-group {
   border: none;
 }

 .hiperLink {
   font-size: 12px;
   font-weight: 420;
   text-decoration: none;
   color: white;
   text-transform: uppercase;
   transition: 0.2s ease;
   font-weight: 520;
 }
 
 .hiperLink:hover {
   font-weight: 550;
 }

 label {
   font-weight: 500;
 }

 .bgclass {
   margin-top: 170px;
   padding: 10px;
   background-color: aqua;
   background-color: rgba(0, 0, 0, .25);   
   color: white;
 }

 .trninput {
   border: 1px;
   border: 1px solid white;
 }
 